.login {
  position: center;
}

.form-row {
  display: flex;
  width: 40%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #0f4c75;
  border-radius: 30px;
}

.login-label {
  font-size: 20px;
}

.login-form {
  padding-top: 50px;
  padding-bottom: 50px;
}

.login-button {
}

.login-form .custom-button:nth-of-type(2n) {
  float: right;
}

@media screen and (min-width: 800px) {
  .form-row {
    max-width: 55%;
  }
}
