.container {
  background-color: #0f7c74;
  height: 100vh;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
}
::-webkit-scrollbar {
  display: none;
}

.accordion-button {
  background-color: #97d477 !important;
}

.accordion-button:focus {
  box-shadow: none;
}
